@keyframes animateField {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.AModal-enter {
  opacity: 0;
}
.AModal-enter-active {
  opacity: 1;

  transition: opacity 300ms;
}
.AModal-exit {
  opacity: 0;
  transition: opacity 300ms;
}
